#!/usr/bin/env sh
sudo su postgres
for tbl in `psql -qAt -c "select tablename from pg_tables where schemaname = 'public';" {{ db_name }}` ; do  psql -c "alter table \"$tbl\" owner to {{ db_user }}" {{ db_name }} ; done
psql "{{ db_name }}" -c "GRANT ALL ON ALL TABLES IN SCHEMA public to ${DATABASE_USER};"
for tbl in `psql -qAt -c "select sequence_name from information_schema.sequences where sequence_schema = 'public';" {{ db_name }}` ; do  psql -c "alter table \"$tbl\" owner to {{ db_user }}" {{ db_name }} ; done
psql "{{ db_name }}" -c "GRANT ALL ON ALL SEQUENCES IN SCHEMA public to ${DATABASE_USER};"
for tbl in `psql -qAt -c "select table_name from information_schema.views where table_schema = 'public';" {{ db_name }}` ; do  psql -c "alter table \"$tbl\" owner to {{ db_user }}" {{ db_name }} ; done
psql "{{ db_name }}" -c "GRANT ALL ON ALL FUNCTIONS IN SCHEMA public to ${DATABASE_USER};"
